.title{
    margin-bottom: 34px;
    color: #3475b5;
}
.row{
    margin-bottom: 20px;
}
.label{
    font-family: "Open Sans";
    font-size: 15px;
    color: #999999;
}
.form-control{
    width: 410px;
}