<div class="container-login">
  <form class="form-signin text-center" (submit)="login()">
    <div class="text-center login-header">
      <span class="welcome"> welcome to
        <br>
      </span>
      <span class="sysmexwam"> SYSMEX WAM</span>
    </div>
    <div class="clearfix"></div>

    <input type="text" id="inputUserId"   class="form-control no-radius" placeholder="User ID*"
      required autofocus>
    <div class="clearfix"></div>

    <input type="password" id="inputPassword"   class="form-control no-radius" placeholder="Password*"
      required>
    <div class="clearfix"></div>

    <button class="btn btn-lg btn-default no-radius" type="submit">LOGIN</button>
  </form>

  <p class="copyright ">Copyright© 1996-2018 Sysmex Corporation,
    <br> All Rights Reserved</p>
</div>