
.row{
    margin-bottom: 20px;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: rgba(0, 0, 0, 0);
}
.table-striped tbody tr:nth-of-type(even){
    background-color: rgba(0, 0, 0, 0.05);
}
thead tr{
    font-family: "OpenSans Bold";
    background-color: rgba(57, 132, 220, 0.25) ;

}

tbody tr:hover{
    background-color: rgba(205, 224, 246, 0.75)!important ;
}