  
@font-face {
  font-family: 'Arvo Bold';
  src: url('assets/fonts/VAVOB.TTF');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #f7f8f9;
  font-family: "Open Sans";
  font-size: 15px;
}
.navbar-global {
  background-color: indigo;
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user > li > a
{
  color: white;
}

.navbar-primary {
  background-color: #3475b5;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 71px;
  width: 260px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

/* .navbar-primary.collapsed .glyphicon {
  font-size: 22px;
} */

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 20px 18px;
  text-align: left;
  /* border-bottom:solid 1px #444; */
  color: #fff;
}

.navbar-primary-menu li a:hover {
  background-color: #2a5e91;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  margin-top: 71px;
  margin-left: 260px;
  margin-bottom: 90px;
}


.collapsed-width +.main-content {
  margin-left: 60px;
}
.uppercase{
  text-transform: uppercase;
}