

  :host(){
    text-align: center;
  }
  .app-item img{
    /* margin: 60px  26px 0px 26px; */
  }
  .app-item .title{
    padding: 5px 20px;
  }
  .app-item {
    display: block;
    box-shadow: 0px 0px 0.3px gray;
    /* width: 200px;
    height: 200px; */
    margin-bottom: 1em;
    color: #000;
    font-size: 18px;
    border-radius: 0px;
    font-family: "Open Sans Bold";
  }
  .app-item:hover{
    background-color: #3475b5;
    color: #fff;
    text-decoration: none;
  }
