.navbar{
    background-image: url(assets/images/bg_nav.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -95px;
}
.bg-blue{
    background-color: #3475b5;
}
.navbar-brand{
    font-size: 37px;
    font-family: "Arvo Bold";
}
:host(){
    color: #fff;
}
nav{
    padding-left: 0px;
    padding-right: 40px;
    box-shadow: 0px 1px 0px #fff;
    height: 70px;
}
.btn-expand-collapse-2{
    padding: 18px;
 }
 .btn-link{
     color: #fff;
 }
 #notify{
     padding-right: 15px;
 }
 #user-menu li:nth-child(2){
    padding: 10px 20px;
 }
 /* placeholder search box */
 .search-box{
     background-color: transparent;
     border-top:0px;
     border-right: 0px;
     border-left:0px;
     border-radius: 0px;
     color: #fff;
     min-width: 300px;
     max-width: 500px;
 }
 .search-box:focus{
    /* webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25); */
    box-shadow:0 0 0 0;
 }
 .search-box::placeholder { 
    color: #fff;
    opacity: 1; 
}

.search-box:-ms-input-placeholder { 
    color: #fff;
}

.search-box::-ms-input-placeholder { 
    color: #fff;
}