.footer-menu{
    position: absolute;
     left: 0px;
    bottom: 0;
    width: 100%;
    padding: 28px 0;
     color: #fff;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
}
.nav-label{
    padding-left: 18px;
}
.fixed-top{
    padding-left: 0px;
}