<!-- <div class="row system">
    <app-children-system *ngFor="let app of appChildrens" class="col-md-2" [detail]="app"></app-children-system>
</div> -->
<div class="row  row-eq-height system">
    <div class="col-lg-2  " *ngFor="let app of appChildrens">
        <app-children-system [detail]="app"></app-children-system>
    </div>

</div>